<% if logged_in? %>
    <% content_for :title, 'Admin' %>
    <style type="text/css">#tail{height:600px;background-color:#333333;color:#fff;border-radius:4px;font-family:'Ubuntu Mono Bold', monospace;}@font-face{font-family:'Ubuntu Mono Bold';src:url(//assets.illuna-minetest.tk/fonts/ubuntu/UbuntuMono-B.ttf) format("opentype")}</style>
    <h1>Admin</h1>
    <pre id="tail" class="scroll"></pre>  

    <% content_for(:after) do %>
        <script src="https://admin:password@illuna-minetest.tk/socket/socket.io.js"></script>
        <script>var Application=function(){var t=io("https://user:password@illuna-minetest.tk",{path:"/socket/socket.io"});t.connect();var o=0;return t.on("connect",function(){console.log("Connected to:",t.host)}),t.on("message",function(t){console.log("Received message:",t),t.tail&&($("#tail").html($("#tail").html()+t.tail),o++,$("#tail").scrollTop(100*o))}),{socket:t}};$(function(){Application()});</script>
    <% end %>

<% else %>
    <h1> nope </h1>
<% end %>

