<% content_for :title, t('home.mapshots.title') %>
    <h2><%= t('home.mapshots.headline') %></h2>
    <div style="max-width:720;text-align:center;" class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="//illuna-minetest.tk/map" frameborder="0"></iframe>
    </div>
    <div style="padding-top:10px;"></div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="//illuna-minetest.tk/map" target="_blank">
                <i class="glyphicon glyphicon-fullscreen"></i> <%= t('home.mapshots.new_tab') %></a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="//files.illuna-minetest.tk/mapshots/daily.tar.bz2">
                <i class="glyphicon glyphicon-save-file"></i> <%= t('home.mapshots.static_image') %></a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="//files.illuna-minetest.tk/mapshots/" target="_blank">
                <i class="glyphicon glyphicon-list-alt"></i> <%= t('home.mapshots.history') %></a>
        </div>
    </div>
