<% content_for :title, t('home.stats.title') %>
<div class="container shader" id="content" style="text-align:center;">
    <h2><%= t('home.stats.headline') %></h2>
    <div class="col-md-6">
        <img class="stat-img" src="https://monitor.tchncs.de/illuna-minetest/illuna-minetest/minetest_players-day.png" alt="" width="100%" /> 
    </div>
    <div class="col-md-6">
        <img class="stat-img" src="https://monitor.tchncs.de/illuna-minetest/illuna-minetest/minetest_players-week.png" alt="" width="100%" />
    </div>
    <div class="col-md-6" id="stat-col-sec">
        <img class="stat-img" src="https://monitor.tchncs.de/tchncs2/tchncs2/ping_-day.png" alt="" width="100%" />
    </div>
    <div class="col-md-6" id="stat-col-sec">
        <img class="stat-img" src="https://monitor.tchncs.de/tchncs2/tchncs2/ping_-week.png" alt="" width="100%" />
    </div>
    <div class="col-md-6" id="stat-col-sec">
        <img class="stat-img" src="https://monitor.tchncs.de/illuna-minetest/illuna-minetest/ping_-day.png" alt="" width="100%" />
    </div>
    <div class="col-md-6" id="stat-col-sec">
        <img class="stat-img" src="https://monitor.tchncs.de/illuna-minetest/illuna-minetest/ping_-week.png" alt="" width="100%" />
    </div>
</div>
