<% content_for :title, t('screenshots.index.title') %>
<div class="container shader" id="content">
        <h3 class="page-header" style="margin-top:-18px;text-align:center;"><%= t('screenshots.index.headline') %></h3>
        <div class="col-sm-6 col-md-3"> 
            <div class=thumbnail> 
                <a href="screenshots/tower_of_madness">
                    <img src="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_3_sm_cover.jpg">
                </a>
                <div class=caption><p> 
                    <h4><strong>Tower of Madness</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/lag/hidden_home/hh_1_reg.png" data-toggle="lightbox" data-gallery="navigateTo" data-title="">
                    <img src="//images.illuna-minetest.tk/screenshots/users/lag/hidden_home/hh_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Hidden Home</strong><span class="label label-info" style="float:right;">lag</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/viki/big_cat/bc_1_reg.png" data-toggle="lightbox" data-gallery="navigateTo" data-title="">
                    <img src="//images.illuna-minetest.tk/screenshots/users/viki/big_cat/bc_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Cat Statue</strong><span class="label label-info" style="float:right;">Viki</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="screenshots/townhall">
                    <img src="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_1_sm_cover.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Townhall</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="screenshots/home_on_water">
                    <img src="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_1_sm_cover.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Home on Water</strong><span class="label label-info" style="float:right;">bluepheonix</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="screenshots/londors_residence">
                    <img src="//images.illuna-minetest.tk/screenshots/users/londor/wohnhaus/wh_1_sm_cover.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">londor</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/kelso/castle_kelso/ck_1_reg.png" data-toggle="lightbox" data-gallery="navigateTo" data-title="">
                    <img src="//images.illuna-minetest.tk/screenshots/users/kelso/castle_kelso/ck_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Castle Kelso</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
                </div>
            </div>
        </div>
       <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/legolas/little_garden/lg_1_reg.png" data-toggle="lightbox" data-gallery="navigateTo" data-title="">
                    <img src="//images.illuna-minetest.tk/screenshots/users/legolas/little_garden/lg_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Little Garden</strong><span class="label label-info" style="float:right;">Legolas</span></h4></p>
                </div>
            </div>
        </div>
       <div class="col-sm-6 col-md-3">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/jakab/residence/r_1_reg.png" data-toggle="lightbox" data-gallery="navigateTo" data-title="">
                    <img src="//images.illuna-minetest.tk/screenshots/users/jakab/residence/r_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">jakab</span></h4></p>
                </div>
            </div>
        </div>
	    <div class="col-sm-6 col-md-3">
	        <div class=thumbnail>
	            <a href="screenshots/country_house">
	               <img src="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_3_sm_cover.jpg" alt="">
	            </a>
	            <div class=caption>
	                    <h4><strong>Kelso's Country House</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	        <div class=thumbnail>
	            <a href="screenshots/skyscraper">
	               <img src="//images.illuna-minetest.tk/screenshots/users/sunstorm314/wolkenkratzer/wk_1_sm_cover.jpg" alt="">
	            </a>
	            <div class=caption>
	                    <h4><strong>skyscraper</strong><span class="label label-info" style="float:right;">sunstorm314</span></h4></p>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	        <div class=thumbnail>
	            <a href="screenshots/bennys_residence">
	               <img src="//images.illuna-minetest.tk/screenshots/users/benny/house/h_3_sm_cover.jpg" alt="">
	            </a>
	            <div class=caption>
	                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">benny</span></h4></p>
	            </div>
	        </div>
	    </div>
        <div class="col-md-12">
            <hr>
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="javascript:history.back()"><span aria-hidden="true">&larr;</span> go back</a></li>
                </ul>
            </nav>
        </div>
</div>

<% content_for(:license) do %>
    <li>all screenshots are licensed under: <a href="//creativecommons.org/licenses/by-nc-sa/2.0/de/" target="_blank"><small><i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-nc"></i><i class="cc cc-sa"></i></small></a></li>
    <li>|</li>
<% end %>
<% content_for(:after) do %>
    <script src="//assets.illuna-minetest.tk/js/ekko-lightbox.js"></script>
    <script type="text/javascript">$(document).ready(function(e){e(document).delegate('*[data-toggle="lightbox"]',"click",function(t){return t.preventDefault(),e(this).ekkoLightbox({always_show_close:!0})})});</script>
    <script type="text/javascript">$(document).ready(function(o){o(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])',"click",function(n){return n.preventDefault(),o(this).ekkoLightbox({onShown:function(){return window.console?console.log("onShown event fired"):void 0},onContentLoaded:function(){return window.console?console.log("onContentLoaded event fired"):void 0},onNavigate:function(o,n){return window.console?console.log("Navigating "+o+". Current item: "+n):void 0}})})});</script>
    <link href="//assets.illuna-minetest.tk/css/ekko-lightbox.css" rel="stylesheet">
    <link href="//assets.illuna-minetest.tk/css/ekko-lightbox-dark.css" rel="stylesheet">
<% end %>
