<% content_for :title, t('screenshots.index.title') %>
<% content_for (:stylesheet) do %>
    <link rel="stylesheet" href="//assets.illuna-minetest.tk/gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="//assets.illuna-minetest.tk/gallery-bootstrap/css/bootstrap-image-gallery.css">
	<link rel="stylesheet" href="//assets.illuna-minetest.tk/gallery/css/blueimp-gallery-indicator.css">
</head>
<% end %>
        <h3 class="page-header" style="margin-top:-18px;text-align:center;"><%= t('screenshots.index.headline') %></h3>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class="thumbnail"> 
                <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_1_sm.jpg">
                </a>
                <div class=caption><p> 
                    <h4><strong>Tower of Madness</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_2_sm.jpg">
                </a>
                <div class=caption><p> 
                    <h4><strong>Tower of Madness</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                 <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_3_reg.png" data-gallery="#screenshots">
                     <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/tom/tom_3_sm.jpg">
                 </a>
                <div class=caption><p> 
                    <h4><strong>Tower of Madness</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/lag/hidden_home/hh_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/lag/hidden_home/hh_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Hidden Home</strong><span class="label label-info" style="float:right;">lag</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/community/black_castle/1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/community/black_castle/1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Black Castle</strong><span class="label label-default" style="float:right;">Community</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/community/black_castle/2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/community/black_castle/2_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Black Castle</strong><span class="label label-default" style="float:right;">Community</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail> 
                <a href="//images.illuna-minetest.tk/screenshots/users/londor/wohnhaus/wh_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/londor/wohnhaus/wh_1_sm.jpg">
                </a>
                <div class=caption>
                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">londor</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/londor/wohnhaus/wh_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/londor/wohnhaus/wh_2_sm.jpg">
                </a>
                <div class=caption>
                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">londor</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Townhall</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_2_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Townhall</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_3_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/coeseta/townhall/th_3_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Townhall</strong><span class="label label-info" style="float:right;">coeseta</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/snowmann/snowman/1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/snowmann/snowman/1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Snowman</strong><span class="label label-info" style="float:right;">Snowmann</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/dotti/tower/1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/dotti/tower/1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Tower</strong><span class="label label-info" style="float:right;">dotti</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/dotti/tower/2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/dotti/tower/2_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Tower</strong><span class="label label-info" style="float:right;">dotti</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Home on Water</strong><span class="label label-info" style="float:right;">bluepheonix</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_2_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Home on Water</strong><span class="label label-info" style="float:right;">bluepheonix</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_3_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/bluepheonix/house/h_3_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Home on Water</strong><span class="label label-info" style="float:right;">bluepheonix</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/viki/big_cat/bc_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/viki/big_cat/bc_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Cat Statue</strong><span class="label label-info" style="float:right;">Viki</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/kelso/castle_kelso/ck_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/castle_kelso/ck_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Castle Kelso</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
                </div>
            </div>
        </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/legolas/little_garden/lg_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/legolas/little_garden/lg_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Little Garden</strong><span class="label label-info" style="float:right;">Legolas</span></h4></p>
                </div>
            </div>
        </div>
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/jakab/residence/r_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/jakab/residence/r_1_sm.jpg" alt="">
                </a>
                <div class=caption>
                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">jakab</span></h4></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/benny/house/h_3_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/benny/house/h_3_sm.jpg" alt="">
                </a>
	            <div class=caption>
	                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">benny</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/benny/house/h_4_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/benny/house/h_4_sm.jpg" alt="">
                </a>
	            <div class=caption>
	                    <h4><strong>Residence</strong><span class="label label-info" style="float:right;">benny</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail> 
                <a href="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_1_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_1_sm.jpg">
                </a>
	            <div class=caption>
	                    <h4><strong>Country House</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_2_sm.jpg">
                </a>
	            <div class=caption>
	                    <h4><strong>Country House</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                 <a href="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_3_reg.png" data-gallery="#screenshots">
                     <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/kelsos_landhaus/kl_3_sm.jpg">
                 </a>
	            <div class=caption>
	                    <h4><strong>Country House</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                 <a href="//images.illuna-minetest.tk/screenshots/users/kelso/schwarzwaldhaus/1_reg.png" data-gallery="#screenshots">
                     <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/schwarzwaldhaus/1_sm.jpg">
                 </a>
	            <div class=caption>
	                    <h4><strong>Schwarzwaldhaus</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class=thumbnail>
                 <a href="//images.illuna-minetest.tk/screenshots/users/kelso/schwarzwaldhaus/2_reg.png" data-gallery="#screenshots">
                     <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/kelso/schwarzwaldhaus/2_sm.jpg">
                 </a>
	            <div class=caption>
	                    <h4><strong>Schwarzwaldhaus</strong><span class="label label-info" style="float:right;">kelso</span></h4></p>
	            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb"> 
            <div class=thumbnail>
                <a href="//images.illuna-minetest.tk/screenshots/users/sunstorm314/wolkenkratzer/wk_2_reg.png" data-gallery="#screenshots">
                    <img class="img-responsive" src="//images.illuna-minetest.tk/screenshots/users/sunstorm314/wolkenkratzer/wk_2_sm.jpg">
                </a>
	            <div class=caption>
	                    <h4><strong>skyscraper</strong><span class="label label-info" style="float:right;">sunstorm314</span></h4></p>
	            </div>
            </div>
        </div>



        <div class="col-md-12">
            <hr>
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="javascript:history.back()"><span aria-hidden="true">&larr;</span> go back</a></li>
                </ul>
            </nav>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
            <div class="slides"></div>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
<% content_for(:license) do %>
    <li>all screenshots are licensed under: <a href="//creativecommons.org/licenses/by-nc-sa/2.0/de/" target="_blank"><small><i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-nc"></i><i class="cc cc-sa"></i></small></a></li>
    <li>|</li>
<% end %>
<% content_for(:after) do %>
<script src="//assets.illuna-minetest.tk/gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="//assets.illuna-minetest.tk/gallery-bootstrap/js/bootstrap-image-gallery.min.js"></script>

<% end %>
